<div class="container mt-4">

    <h2>All Exams Type</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Software Developer</th>
          <th scope="col">Software Tester</th>
          <th scope="col">Database Engineer</th>
          <th scope="col">HR</th>
          <th scope="col">Manager</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><button class="btn btn-primary" [routerLink]="['/exam-instruct']">Entery Level</button></td>
          <td><button class="btn btn-success" [routerLink]="['/exam-instruct']">Entery Level</button></td>
          <td><button class="btn btn-danger" [routerLink]="['/exam-instruct']">Entery Level</button></td>
          <td><button class="btn btn-primary" [routerLink]="['/exam-instruct']">Entery Level</button></td>
          <td><button class="btn btn-danger" [routerLink]="['/exam-instruct']">Entery Level</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><button class="btn btn-primary" [routerLink]="['/exam-instruct']">Senior Level</button></td>
          <td><button class="btn btn-success" [routerLink]="['/exam-instruct']">Senior Level</button></td>
          <td><button class="btn btn-danger" [routerLink]="['/exam-instruct']">Senior Level</button></td>
          <td><button class="btn btn-primary" [routerLink]="['/exam-instruct']">Senior Level</button></td>
          <td><button class="btn btn-danger" [routerLink]="['/exam-instruct']">Senior Level</button></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
