<div class="container mt-4">

    <h2>General Instruction Of Exam</h2>

    <div class="row">
      <!-- Left Table -->
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam suscipit dolores excepturi nobis dignissimos veniam neque illum et reiciendis totam nulla aut pariatur, cupiditate, impedit qui labore, ea maxime quae.
      Dolor, atque. Iste fugit provident facere cumque labore expedita placeat quia, ullam vitae reiciendis quaerat sit odio sed voluptate veniam voluptates tenetur quo magnam aperiam veritatis laboriosam ratione cum? Quia!
      Veritatis ullam autem incidunt tempore obcaecati aliquam, officia adipisci cumque eveniet suscipit assumenda, quae necessitatibus rerum, culpa dolor nulla dolorem? A amet eos eveniet debitis praesentium dolorem hic, recusandae saepe.
      Adipisci, doloremque! Molestiae, harum. Dolorem repellat ab esse. Eius, illum a! Est accusamus libero assumenda. Sunt earum aperiam, sed, hic ipsum quos voluptate nostrum nulla rerum temporibus iusto cum veniam?
      Illo, numquam atque cumque, fuga molestias qui dicta facere est iste distinctio ut, laudantium praesentium optio exercitationem tenetur? Ad odit maiores totam expedita voluptate vitae facilis ratione soluta magnam laborum.</p>
      <div class="col-md-6">
        <h4>Exam Details</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Exam Name</th>
              <th scope="col">Subject</th>
              <th scope="col">No. Q</th>
              <th scope="col">Marks</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Software Developer</td>
              <td>Apptitude</td>
              <td>50</td>
              <td>100</td>
              <td>60 mins</td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>

      <!-- Right Table -->
      <div class="col-md-6">
        <h4>Candidate Details</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Candidate Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John Doe</td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>

      <div>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et fugit, blanditiis excepturi sed, voluptates animi quasi dolores, earum dolorum perferendis reiciendis illum veritatis placeat labore enim fugiat corporis minima. Perspiciatis.
            Voluptatibus maxime reiciendis ipsam! Fuga molestiae, ab iusto porro pariatur amet, dignissimos provident officia cupiditate, voluptas totam rem vel ea. Assumenda nemo explicabo labore! Enim nulla dolor fuga iusto blanditiis?
            Excepturi incidunt laborum assumenda dolore. Beatae quaerat voluptatem, cupiditate labore nam laborum libero numquam fuga officia nostrum, quo, sapiente nulla ullam molestiae eius ipsa officiis! Quo modi laborum ipsum doloremque?
            Unde, repellat totam fuga, quas asperiores eaque at a quo beatae eveniet laborum facere voluptates veritatis cupiditate ea nobis corrupti tempore ullam doloribus quae expedita aperiam. Odit aperiam laboriosam inventore!
            Similique dicta dolore molestiae minima ipsa. At eum explicabo exercitationem consequatur unde assumenda pariatur accusamus accusantium ab tempore sunt possimus, eligendi suscipit repellendus molestiae molestias aliquid error, temporibus nostrum quisquam.</p>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button" [routerLink]="['/examType']">Back</button>
        <button class="btn btn-primary" type="button" [routerLink]="['/main-exam']">Next</button>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
