<div class="container mx-auto">
  <h1>Welcome to the Mobile Techies Exam System</h1>
  <!-- Your page content goes here -->
</div>

<div class="mx-auto">
  <h4>Attempt Mock Test</h4>
  <p>Total Available Mock Test</p>

  <div class="box">
    <h4>Software Developer</h4>
    <button type="button">Attempt Test</button>
  </div>

  <div class="box">
    <h4>Software Tester</h4>
    <button type="button">Attempt Test</button>
  </div>

  <div class="box">
    <h4>FrontEnd Developer</h4>
    <button type="button">Attempt Test</button>
  </div>
  
  <div class="box">
    <h4>Database Engineer</h4>
    <button type="button">Attempt Test</button>
  </div>
  
</div>

